/* All*/

/* Font Family */
/* ABeeZee */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
/* great vibes*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* Cinzel Decorative */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
/* Courgette */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* Uncial Antiqua */
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

link[rel="icon"] {
    /* Adjust the size as needed */
    width: 100%;
    height: auto;
}

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#nav{
    background-color: pink;
    object-fit: contain;
}
#nav li:hover {
    text-decoration: underline;
    transition: text-decoration-color 2s ease-in-out;
    color: white;
  }
  

footer{
    background-color: white;
}

.bi{
    max-width:5%;
}

#i {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;
  }
  
  #i i {
    flex: 1;
    text-align: center;
  }

 

  .row{
    text-align: center;
}

button:hover{
    cursor: grab;
}

/* Home */

#home{
    background-image: linear-gradient(pink,rgb(250, 217, 223),white);
}


#bestSellers{
    width: 263px;
    height: 205px;
    border-radius: 20px;
    object-fit: contain;
}

#homeWall{
    margin-top:4%;
}

#best-sellers-image{
    object-fit: contain;
}

#img{
    object-fit: contain;
    border-radius: 15px;
}

.card{
    background-color: pink;
}

#img2{
    object-fit: contain;
    max-width: 100%;
    height: 40%;
    
}
.col{
    background-size: contain;
}

h2{
    font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

h1{
    font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

h5{
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

#carousel-inner{
    background-color: white;
}

#customer-service{
    height: 20%;
}

#collaborations{
    height: 20%;
}

.Delivery{
    padding-top: 25px;
}
#customer-service:hover{
    transform: scale(115%) ;
}
#collaborations:hover{
    transform: scale(115%) ;
}

#deliveries:hover{
    transform: scale(115%) ;
}

p{
    text-align: left;
}

#h4-foooter{
    text-align: left;

}

#carouselExampleIndicators{
    margin-top: 20%;
}



.container{
    max-width: 95%;
    width: 95%;
    box-sizing: border-box;
}
.slider-wrapper .image-list{
display: grid;
gap: 18px;
font-size: 0;
margin-top: 32px;
overflow-x: auto;
stroke-width: none;
overflow-x: auto;
scrollbar-width: none;
grid-template-columns: repeat(12, 1fr);
}

 /* use the thing that matthew talked about */
.slider-wrapper .image-list::-webkit-scrollbar{
display: none;
}

.slider-wrapper .image-list .image-item{
width: 200px;
height: 300px;
object-fit: cover;
}


.container .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
}
.slider-scrollbar .scrollbar-track{
    position: absolute;
    height: 2px;
    width: 100%;
    background: rgb(255, 81, 81);
    cursor: grab;
}


.slider-scrollbar .scrollbar-thumbk::after{
content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: rgb(255, 81, 81);
    cursor: grab;
}


.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 2px;
    width: 50%;
    background: black;
    cursor: grab;
}


/* Ask about how to fix the above */

.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: rgb(255, 81, 81);
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb::after{
    content:"" ;
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
}

.slider-scrollbar .scrollbar-track{

}


/* about */

/* style the news letter */


#about{
    background-image: url('https://chany4.github.io/ecomWEB/images/other/pexels-eberhardgross-2217366.jpg');
}


#about-row-1{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#about-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #img-2 {
    width: 20%;
  }

  #img-2 img {
    width: 100%;
    height: auto;
  }

  #about-us {
    width: 30%;
    text-align: center;

  }

  #about-us h1 {
    margin: 20px 0;

  }

/* make a media query to make about us bigger */


.p1 .p3{
    text-align: right;
    font-size: larger;
}
a{
    text-decoration: none;
}

/* login */

#login{
    background-image: url('https://chany4.github.io/ecomWEB/images/other/pexels-ron-lach-9595294.jpg');
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; 
  object-fit: cover; 
}

#p-login{
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    color: black;
}

#log-in-button{
    width: 152px;
    height: 44px;
    background-color: rgb(255, 226, 226);
    border-radius: 25px;
    border: 2px solid pink;
    position: fixed;
    top: 10%; 
    right: 0;
    margin: 10px;
    z-index: 1;
}
#submit-button-login{
    width: 50%;
    height: 44px;
    background-color: rgb(255, 226, 226);
    border-radius: 25px;
    border: 2px solid pink;
    margin: 10px;
}


/* contact */

/* add media uery for the  two columns to wrap stuff to wrap */

#contact {
    background-image: url('https://chany4.github.io/ecomWEB/images/other/6772134-uhd_3840_2160_30fps-ezgif.com-video-to-gif-converter.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

#contact-section{
    margin-top: 10%;
}


#input{
    width: 100%;
    background-color: pink;
    border: 2px solid rgba(255, 192, 203, 0.673);
    height: 100%;
    border-radius: 25px;
    text-indent: 25px;
}
#submit-button{
    width: 30%;
    background-color: pink;
    border: 2px solid rgba(255, 192, 203, 0.673);
    height: 100%;
    border-radius: 25px;
}
label{
    width: 100%;
    text-indent: 5px;
}
#p{
    text-align: start;
    text-indent: 15px;
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

textarea{
    background-color: pink;
    border: 3px solid pink;
}

#p-login{
    text-indent: 25px;
}



/* products */
#all-products{
    margin-top: 5%;
}

/* make media queries for this */
#search-bar{
    border: 2px solid black;
    width: 20%;
    margin-left: 1.5%;
}

/* cart */
#cart_table{
    margin-top: 5%;
}

td{
    font-size: 1.5rem;
}

.container-fluid6 {
    margin: 2em 0 0;
    min-height: 70svh;
}



